{% set title = 'Discover the IndieWeb, one blog post at a time.' %}
{% set description = 'A website to randomly explore the IndieWeb. Simply click a button and you will be redirected to a random post from a personal blog.' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="simple.min.css">
    <link rel="stylesheet" href="custom.css">
    <link rel="icon" href="dice.svg">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="https://indieblog.page">
    <meta property="og:image" content="https://indieblog.page/ograph.jpg">
    <meta property="og:description" content="{{ description }}">
</head>
<body>
<header>
    <h1>indieblog.page</h1>
    <p>{{ title }}</p>

    {% include 'partials/navigation.twig' %}
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>
        This is a personal project by <a href="https://www.splitbrain.org">Andreas Gohr</a>.
        It is free of any trackers and advertising. JavaScript and cookies are optional.
        If you like what you see, you can
        <a href="https://github.com/sponsors/splitbrain">sponsor me on Github</a> or
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=andi%40splitbrain.org&item_name=Thank+you&no_shipping=1&no_note=1&tax=0&currency_code=EUR&lc=US">donate
            via Paypal</a>. 💖️
    </p>
</footer>

<script src="script.js"></script>

</body>
</html>
