<p>
    This random <a href="https://indieblog.page">indieblog.page</a> link was generated picked on {{ "now"|date("l, F jS Y") }}. I was originally published on {{ item.published|date("l, F jS Y") }} at <a href="{{ item.feedurl }}">{{ item.feedtitle }}</a>.
</p>
<p>
    If you'd like to report any problems with this post or the blog, please include the following ID with your report: <code>{{ item.feedid }}-{{ item.itemid }}</code>
</p>
