{% extends 'partials/layout.twig' %}

{% block content %}
    <h2>Frequently asked Questions</h2>

    <p>
        These questions might have been asked frequently if I hadn't answered them here ;-)
    </p>

    <details>
        <summary id="why">Why does this site exist?</summary>

        <p>Because I wanted it.</p>

        <p>
            There is a small renaissance of having your own, personal website, independent of the
            large corporate entities. A place for your thoughts and ideas that you own and control. It's sometimes
            called the <a href="https://indieweb.org/">IndieWeb</a> or
            <a href="https://communitywiki.org/wiki/SmolNet">SmolNet</a> - back in my day it was just having a
            homepage.
        </p>

        <p>
            I love reading text written by real people. Texts that don't want to sell something.
            But how can you discover texts you can't search for because you don't know they exist?
        </p>

        <p>
            That's where this page comes in. Click a button, be surprised and maybe discover your new favorite thing.
        </p>
    </details>

    <details>
        <summary id="sources">What are the sources?</summary>

        <p>I initially seeded the database with personal websites from the following sources:</p>

        <ul>
            <li><a href="https://personalsit.es">personalsit.es</a></li>
            <li><a href="https://news.ycombinator.com/item?id=30934529">Ask HN: Share your personal site</a> and the
                helpful <a href="https://news.ycombinator.com/item?id=30963947">list of URLs extracted</a> from that
                post
            </li>
            <li><a href="https://xn--sr8hvo.ws/directory">The IndieWeb Webring</a></li>
            <li><a href="https://blogroll.org/">Ye Olde Blogroll</a></li>
            <li><a href="https://indieweb.xyz/">indieweb.xyz</a></li>
        </ul>

        <p>
            To further grow it, you can suggest your own or a friend's personal site (as long as it has an RSS feed):
            <a href="suggest">Suggest a page</a>.
        </p>
    </details>

    <details>
        <summary id="stats">How many blogs and posts are in the database?</summary>

        <p>Here are the current statistics:</p>

        <ul>
            <li><b>{{ stats.feeds }}</b> websites with a feed</li>
            <li><b>{{ stats.mastodon }}</b> websites with a verified Mastodon account</li>
            <li><b>{{ stats.items }}</b> posts overall</li>
            <li><b>{{ stats.recentitems }}</b> posts in the last six months</li>
            <li><b>{{ (stats.size / 1024 / 1024) |round(2) }} MiB</b> database size</li>
            <li><b>{{ stats.suggestions }}</b> pending suggestions</li>
        </ul>

        <p>
            Currently only recent posts (published within the last six months) are used when
            picking a random post. Below is a visualization of the number of recent posts per week.
        </p>

        <div class="postfreq">
            {% set maxposts = max(stats.weeklyposts) %}
            {% for week, posts in stats.weeklyposts %}
                <div style="height: {{ (posts * 100 / maxposts) |round }}px" title="W{{ week }}: {{ posts }} posts">
                    W{{ week }}: {{ posts }} posts
                </div>
            {% endfor %}
        </div>
    </details>

    <details>
        <summary id="data">Can I have the data?</summary>

        <p>Sure, you can download the list of blog URLs as JSON here:</p>

        <p><a href="export">Download JSON</a></p>
    </details>

    <details>
        <summary id="report">Broken Links, Spam, etc.</summary>

        <p>People abandon or sell their domains. Things break. Sites get hacked.</p>

        <p>
            If you were sent to a broken site, please let me know at
            <a href="mailto:andi@splitbrain.org">andi@splitbrain.org</a>. Be sure to include the ID shown under each
            visited link on the front page - it helps me to identify the broken URLs.
        </p>

        <p>
            Please also let me know if you come across things that don't fit the spirit of personal webpages.
            Things like YouTube channels, corporate blogs, etc. should not be in the index but might have slipped
            through in the initial setup.
        </p>
    </details>

    <details>
        <summary id="alternatives">Are there any alternatives?</summary>

        <p>There are other attempts at making the indieweb discoverable.</p>

        <ul>
            <li>
                <a href="https://blogsurf.io/">Blog Surf</a>: a blog search engine. It lists a few random posts
                on the start page, but they are sorted by some kind of popularity score.
            </li>
            <li>
                <a href="https://search.marginalia.nu/explore/random">Marginalia</a>: another IndieWeb search engine.
                This one has an option to visually browse random sites.
            </li>
            <li>
                <a href="https://blogdb.org/">BlogDB</a>: a small selection of blogs, but not necessarily personal ones.
                It has a random blog mechanism.
            </li>
            <li>
                <a href="https://ooh.directory/">ooh.directory</a>: a <i>Yahoo!</i> style directory of blogs categorized
                by topic. It has a random blog mechanism.
            </li>
        </ul>
    </details>

    <details>
        <summary id="tech">What tech does this run on?</summary>

        <p>This is a very simple, custom PHP application standing on the shoulders of giants:</p>
        <ul>
            <li><a href="https://simplepie.org/">SimplePie</a> for RSS discovery and parsing</li>
            <li><a href="https://github.com/flack/UniversalFeedCreator">UniversalFeedCreator</a> for RSS feed creation
            </li>
            <li><a href="https://www.sqlite.org/">SQLite</a> for data storage</li>
            <li><a href="https://twig.symfony.com/">Twig</a> for templating</li>
            <li><a href="https://simplecss.org/">SimpleCSS</a> for nice looks</li>
            <li><a href="https://github.com/scotteh/php-dom-wrapper">PHP-DOM-Wrapper</a> for finding Mastodon profiles</li>
        </ul>
        <p>
            The rest is just glue code. You can see it all on
            <a href="https://github.com/splitbrain/blogrng">Github</a>.
        </p>
    </details>

{% endblock %}
